weekly_challenges_base.log
weekly_challenges_base.pdf
weekly_challenges.aux
weekly_challenges.log
weekly_challenges.pdf
weekly_challenges.tex
*.png
*.jpg
*.log
*.jpeg
*.pyc
*.synctex.gz
*.code-workspace
*.txt
*.temp